<%- include('header') -%>
  <div>
    <section class="hero databus-banner is-none">
      <div class="hero-body">
        <div class="container has-text-left">
          <div style="display: flex; align-items: center; ">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" height="20mm"
              viewBox="0 0 40.326191 46.198502" version="1.1" id="svg5" style="margin-right: 1.5em; margin-top: 7px">
              <defs id="defs2" />
              <g id="layer1" transform="translate(-0.76641155,-0.7702354)">
                <path id="path42117"
                  style="fill:#fff;stroke:none;stroke-width:0.524959px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                  d="m 0.76949155,0.7702454 v 5.24959 l 29.33129045,-10e-4 6.27262,8.8675006 -0.002,32.0824 4.7212,-0.002 V 0.7702354 Z m 18.43511045,8.3952603 -5.68354,0.006 7.1979,10.5484003 -0.004,27.24663 4.70393,-0.002 0.0167,-28.60108 z m -9.4730904,0.002 -8.96510005,0.002 0.004,37.7960503 16.79563045,-0.004 0.001,-26.29103 z m 13.2512904,0 5.59825,8.2188903 -0.0396,29.57614 4.70307,-0.002 0.006,-31.09587 -4.55858,-6.6940403 z" />
              </g>
            </svg>
            <div style="margin-left: 24px;">
              <h1 class="title is-1 has-text-left is-marginless"><%= data.code %>: <%= data.message %></h1>
            </div>
          </div>
        </div>
      </div>
    </section>



          
          <div class="section" ng-if="!authenticated" style="min-height: 500px;">
            <div class="container">
              <br /> <br />
              <p style="text-align: center; font-size: 1.1em"><%= data.description %></p>
            </div>
          </div>


  </div>
  <%- include('footer') -%>